.profile_pic{border-radius:50%;object-fit:cover}.profile_card_social_urls a{text-decoration:none;font-size:22px;color:#000}a.is-idle{pointer-events:none;cursor:default;text-decoration:none}button.is-idle{pointer-events:none;cursor:default}.column.is-wider{padding-right:0;padding-left:0}
    .hidden {
  display: none;
}
