blockquote {
  font-style: italic;
  border-left: 5px solid black;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;

  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

pre {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-weight: bold;
    overflow: auto;
}

ol{
  list-style-type: disc;
}


h3 {
  font-size: 1.45em;
  font-weight: bold;
}

h4 {
  font-size: 1.20em;
  font-weight: bold;
}