{% extends 'core/base.html' %}
{% block content %}
{%  load static %}
<link rel="stylesheet" href="{% static 'css/text-editor-output.css' %}"></link>
{% if messages %}
{% for message in messages %}
<article class="message is-{{message.tags}}">
<div class="message-body">
  {{message}}
</div>
</article>
{% endfor %}
{% endif %}

   <div class="media">
      <div class="media-left">
<form action="{% url 'story:publish' draft.id %}" method="POST" >{% csrf_token %}<button type="submit"  class="button is-success is-rounded">Publish</button></form>
      </div>
<div class="media-content">

</div>


    <div class="media-right">

                        <div class="dropdown is-right" id="id_draft_menu">
                            <div class="dropdown-trigger">
                                <a id="id_draft_menu_trigger" style="color: #4A4A4A;" onclick="OpenDraftMenu()" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span></span>
                                <span class="icon is-small">
                                <i class="material-icons-outlined ">more_vert</i>
                                </span>
                                </a>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class=" dropdown-content has-text-centered">

                                    <a href="{% url 'story:update-draft' draft.id %}" class="dropdown-item">
                                    <b>Update</b>
                                    </a>

                                    <form action="{% url 'story:delete-draft' draft.id %}" method="POST" >
                                    {% csrf_token %}
                                    <button onclick="return confirm('Are you sure?')" type="submit" class="dropdown-item"><b>Delete</b></button>
                                    </form>  

                                </div>
                            </div>
                        </div>

    </div>


</div>
<hr>


<div class="columns  is-centered">
<div class="column is-two-thirds">




<small>Category: <a>{{draft.category}}</a></small>


<p style="font-weight: bold;" class="title is-size-4-mobile">{{draft.title}}</p>
{% if draft.cover %}
<center>
<img style='max-height: 400px; width: auto' src="{{draft.cover.url}}" >
</center>
<br>
{% endif %}
 
<div style="font-size: 17px;"> 

{{draft.content|safe}}

</div>

<br>
<div class="field is-grouped is-grouped-multiline">
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark is-rounded">Drafted</span>
      <span class="tag is-success">{{draft.date_created|date}}</span>
    </div>
  </div>
{% if draft.date_updated %}
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark is-rounded">Last updated</span>
      <span class="tag is-primary">{{draft.date_updated|date}}</span>
    </div>
  </div>
{% endif %}
</div>

</div>
</div>
{% endblock content %}